<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hazel XBee Microservice</title>
    <script>
        function send_click() {
            var dest = document.querySelector('input[name="dest"]:checked').value;
            var msg = document.querySelector('textarea[name="msg"]').value;
            var addr_field = document.querySelector('input[name="addr"]');
            if (dest == "broadcast") {
                addr_field.value = "000000000000FFFF";
            } else if (dest == "coordinator") {
                addr_field.value = "0000000000000000";
            } else if (!addr_field.value) {
                alert("You said you would specify an address but you didn't.");
                return false;
            }
            if (!msg) {
                alert("Message text is required.");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <h1>Hazel Xbee Microservice</h1>
    <p><a href="{{ url_for('docs') }}">API Reference</a></p>
    <hr>
    <h2>Send a message</h2>
    <form method="post" action="{{ url_for('send') }}">
        <input type="hidden" name="interactive" value="true">
        <b>Destination:</b><br>
        <blockquote>
            <p><input type="radio" name="dest" value="broadcast" id="broadcast_dest"><label for="broadcast_dest"> Broadcast</label</p>
            <p><input type="radio" name="dest" value="coordinator" id="coordinator_dest"><label for="coordinator_dest"> Coordinator</label></p>
            <p><input type="radio" name="dest" value="specaddr" id="specaddr_dest"><label for="specaddr_dest"> Specific Address:</label>
               <input type="text" name="addr"></p>
        </blockquote>
        <p valign="top">
            <b><label for="msg_area">Message:</label></b><br>
            <textarea name="msg" cols="50" id="msg_area"></textarea>
        </p>
        <p><button onclick="send_click()">Send</button></p>
    </form>
</body>
</html>
