<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HAzel</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        <div class="container-fluid">
            <h1>HAzel</h1>
            <h2>Home Automation Service</h2>
        </div>
    </body>
</html>
